@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FPTJobMatch</h1>
    <h5 class="sticky-bottom">
        This is the heaven, the ultimate destination for job seekers to find and apply for their dream jobs! In today's competitive job market, it can be challenging to navigate through numerous job postings and identify the perfect opportunity that aligns with your skills, interests, and aspirations. That's where FPTJobMatch comes in.
        At FPTJobMatch, we understand the importance of finding a job that not only pays the bills but also fulfills your professional ambitions. Our platform is designed to streamline the job search process, providing a user-friendly interface that connects talented individuals with their desired jobs in a seamless and efficient manner.

    </h5>
</div>
